    <section class="sidebar">
      <div class="user-panel">
        
      </div>
      <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
       <li><a href="home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
       <li><a href="androidUser"><i class="fa fa-users"></i> Android Users</a></li>
       <li><a href="couponMaster"><i class="fa fa-id-card"></i> Coupon Manage</a></li>
        <li><a href="couponMasterNew"><i class="fa fa-id-card"></i> Coupon Manage New</a></li>
       <li><a href="productPortfolio"><i class="fa fa-tasks"></i> Product Portfolio</a></li> 
       <li><a href="ItemCategory"><i class="fa fa-tasks"></i> Item Category</a></li>  
       <li><a href="ItemMaster"><i class="fa fa-shopping-bag"></i> Item Master</a></li>
       <li><a href="BannerManage"><i class="fa fa-picture-o"></i> Banner Manage</a></li>
       <li><a href="imageGallary"><i class="fa fa-picture-o"></i> Image Gallery</a></li>
       <li><a href="videoGallery"><i class="fa fa-video-camera"></i> Video Gallery</a></li>
       <li><a href="orderManage"><i class="fa fa-shopping-cart"></i> Order Manage</a></li>
       <li><a href="userTransAdm"><i class="fa fa-money"></i> User Transactions</a></li>
       <li><a href="notification"><i class="fa fa-bell"></i> Send Notification</a></li>
       <li><a href="feedbackManage"><i class="fa fa-envelope"></i> Feedback Manage</a></li>
       <li><a href="complainManage"><i class="fa fa-envelope-open"></i> Complain Manage</a></li>
       <li><a href="ExtraDetails"><i class="fa fa-envelope-open"></i> Extra Details</a></li>
       <li><a href="changeAdminPass"><i class="fa fa-key"></i> Account Manage</a></li>
       <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope-open"></i> <span>SMS Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="smsSetting"><i class="fa fa-cog"></i> SMS Setting</a></li>
            <li><a href="smsTemplate"><i class="fa fa-file"></i> SMS Template</a></li>
           <!--  <li><a href="#"><i class="fa fa-pencil"></i> Compose SMS</a></li> -->
            <li><a href="smsLog"><i class="fa fa-file-text-o"></i> SMS Log</a></li>
          </ul>
        </li>
      </ul>
    </section>
    
  <div class="control-sidebar-bg"></div>
