    <a href="home" class="logo">
<!--       <span class="logo-mini"><b>CA</b></span> -->
      <span class="logo-lg"><b>Vergin</b> Electrical</span>
      <!-- <span class="logo-lg"><b>CA </b>GURU</span> -->
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
         
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userName">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="dist/img/avatarUserNw.jpg" class="img-circle" alt="User Image">
                <p id="pUsrname">             
                </p>
               
              </li>
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <a href="perform_logout" class="btn btn-default btn-flat"><i class="ionicons ion-log-out"></i>&nbsp; Sign out</a>
                </div>
              </li>
            </ul>
          </li>
           <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
         
        </ul>
      </div>
    </nav>
  
  <script>
  $(document).ready(function($) {
	  var Username = sessionStorage.getItem("usrname");
	  var password = sessionStorage.getItem("password");
	  console.log("HeaderInfo____Username ::"+ Username); 
	  var info = Username +' Login As - ADMIN';
	  $("#userName").html("WelCome"+'  -  '+Username);
	  $("#pUsrname").html(info);
  });
</script>